#This project covers following skills:

* Being able to use numpy and pandas to preprocess a dataset.

* Being able to use numpy to build a machine learning pipeline for supervised learning. 

* Being able to follow the steps involved in an end-to-end project in machine learning.

* Being able to use scikit-learn to design a machine learning model pipeline

# A dataset of air quality

The dataset you will use in this assignment comes from a popular machine learning repository that hosts open source datasets for educational and research purposes, the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). We are going to use regularised ridge regression and random forests for predicting air quality. The description of the dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/Air+Quality).

In [ ]:
import urllib.request
doq = "https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip"
pat_sav = "./AirQualityUCI.zip"
urllib.request.urlretrieve(doq, pat_sav)
#urllib.request.urlretrieve("https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip")

('./AirQualityUCI.zip', <http.client.HTTPMessage at 0x7fcfe29e4550>)

In [ ]:
import zipfile
zip = zipfile.ZipFile('./AirQualityUCI.zip', 'r')
for name in zip.namelist():
    zip.extract(name, '.')

In [ ]:
# The .csv version of the file has some typing issues, so we use the excel version
import pandas as pd 
air_quality_full = pd.read_excel('./AirQualityUCI.xlsx', usecols=range(2,15))

We can see some of the rows in the dataset

In [ ]:
air_quality_full.sample(5)

      CO(GT)  PT08.S1(CO)  NMHC(GT)  ...        T          RH          AH
1596     0.4       821.50      -200  ...   14.175   49.900000    0.802525
3300  -200.0      1022.50      -200  ...   25.400   48.499999    1.550735
4820     1.6       961.00      -200  ...   23.800   26.975000    0.784509
8067     2.9      -200.00      -200  ... -200.000 -200.000000 -200.000000
1856  -200.0       845.75      -200  ...   18.600   38.775001    0.822812

[5 rows x 13 columns]

The target variable corresponds to the CO(GT) variable of the first column. The following columns correspond to the variables in the feature vectors, *e.g.*, PT08.S1(CO) is $x_1$ up until AH which is $x_D$. The original dataset also has a date and a time columns that we are not going to use in this assignment.

### Removing instances 

The dataset has missing values tagged with a -200 value. To simplify the design of the machine learning models in this assignment, we perform the following two operations to the dataset right from the beginning:

* we will remove the rows for which the target variable has missing values. We are doing supervised learning so we need all our data observations to have known target values.

* we will remove features with more than 20% of missing values. 

The code below performs both operations

In [ ]:
# We first remove the rows for which there are missing values in the target feature
air_quality = air_quality_full.loc[air_quality_full.iloc[:, 0]!=-200, :]

In [ ]:
# We now remove the columns (features) for which there are more that 20% of missing values
import numpy as np
ndata, ncols = np.shape(air_quality) # number of data observations and number of columns in the dataframe
pmissing = np.empty(ncols)         # An empty vector that will keep the percentage of missing values per feature
for i in range(ncols):
    pmissing[i] = (air_quality.iloc[:, i]==-200).sum()/ndata # Computes the percentage of missing values per column
air_quality = air_quality.loc[:, pmissing < 0.2]

### Splitting the dataset 

Before designing any machine learning model, we need to set aside the test data. We will use the remaining training data for fitting the model. *It is important to remember that the test data has to be set aside before preprocessing*. 

Any preprocessing that you do has to be done only on the training data and several key statistics need to be saved for the test stage.  Separating the dataset into training and test before any preprocessing has happened help us to recreate the real world scenario where we will deploy our system and for which the data will come without any preprocessing.

Furthermore, we are going to use *hold-out validation* for validating our predictive model so we need to further separate the training data into a training set and a validation set.

We split the dataset into a training set, a validation set and a test set. The training set will have 70% of the total observations, the validation set 15% and the test set, the remaining 15%. For making the random selections of the training and validation sets **make sure that you use a random seed that corresponds to the last five digits of your student UCard**. In the code below, I have used 55555 as an example of my random seed.

In [ ]:
np.random.seed(70629)                 # Make sure you use the last five digits of your student UCard as your seed
index = np.random.permutation(ndata)  # We permute the indexes 
N = np.int64(np.round(0.70*ndata))    # We compute N, the number of training instances
Nval = np.int64(np.round(0.15*ndata)) # We compute Nval, the number of validation instances   
Ntest = ndata - N - Nval              # We compute Ntest, the number of test instances
data_training_unproc = air_quality.iloc[index[0:N], :].copy() # Select the training data
data_val_unproc = air_quality.iloc[index[N:N+Nval], :].copy() # Select the validation data
data_test_unproc = air_quality.iloc[index[N+Nval:ndata], :].copy() # Select the test data

The assigment is divided into two sections. In the **first section**, you will design a regularised ridge regression model trained with stochastic gradient descent. You will write all the code from scratch. You should not use any library that already implements any of the routines considered in this section, for example, scikit-learn. In the **second section**, you will design a random forests model and you are allowed to use scikit-learn in this section.

When writing your code, you will find out that there are operations that are repeated at least twice. We will assign marks for use of Python functions and for commenting your code. The marks will be assigned as:

* Did you include Python functions to solve the question and avoid repeating code? (**1 mark**)
* Did you comment your code to make it readable to others? (**1 mark**)

# 1. Using regularised ridge regression to predict air quality (10 marks)

**DO NOT USE scikit-learn or any other machine learning library for the questions on this section. You are meant to write Python code from scratch. You can use Pandas and Numpy. Using scikit-learn or any other machine learning library for the questions in this section will give ZERO marks. No excuse will be accepted.**

Regularisation is a technique commonly used in Machine Learning to prevent overfitting. It consists on adding terms to the objective function such that the optimisation procedure avoids solutions that just learn the training data. Popular techniques for regularisation in Supervised Learning include [Lasso Regression](https://en.wikipedia.org/wiki/Lasso_(statistics)), [Ridge Regression](https://en.wikipedia.org/wiki/Tikhonov_regularization) and the [Elastic Net](https://en.wikipedia.org/wiki/Elastic_net_regularization). 

In this part of the Assignment, you will be looking at Ridge Regression and implementing equations to optimise the objective function using the update rules for stochastic gradient descent. You will use those update rules for making predictions on the Air Quality dataset.

## 1.1 Ridge Regression

Let us start with a data set for training $\mathcal{D} = \{\mathbf{y}, \mathbf{X}\}$, where the vector $\mathbf{y}=[y_1, \cdots, y_N]^{\top}$ and $\mathbf{X}$ is the design matrix from Lab 4, this is, 

\begin{align*}
    \mathbf{X} = 
                \begin{bmatrix}
                        1 & x_{1,1} & \cdots & x_{1, D}\\
                        1 & x_{2,1} & \cdots & x_{2, D}\\
                   \vdots &  \vdots\\
                        1 & x_{N,1} & \cdots & x_{N, D}
                \end{bmatrix}
               = 
               \begin{bmatrix}
                      \mathbf{x}_1^{\top}\\
                       \mathbf{x}_2^{\top}\\
                          \vdots\\
                        \mathbf{x}_N^{\top}
                \end{bmatrix}.
\end{align*}

Our predictive model is going to be a linear model

$$ f(\mathbf{x}_i) = \mathbf{w}^{\top}\mathbf{x}_i,$$

where $\mathbf{w} = [w_0\; w_1\; \cdots \; w_D]^{\top}$.

The **objective function** we are going to use has the following form

$$ E(\mathbf{w}, \lambda) = \frac{1}{N}\sum_{n=1}^N (y_n - f(\mathbf{x}_n))^2 + \frac{\lambda}{2}\sum_{j=0}^D w_j^2,$$

where $\lambda>0$ is known as the *regularisation* parameter.

This objective function was studied in Lecture 4. 

The first term on the rhs is what we call the "fitting" term whereas the second term in the expression is the regularisation term. Given $\lambda$, the two terms in the expression have different purposes. The first term is looking for a value of $\mathbf{w}$ that leads the squared-errors to zero. While doing this, $\mathbf{w}$ can take any value and lead to a solution that it is only good for the training data but perhaps not for the test data. The second term is regularising the behavior of the first term by driving the $\mathbf{w}$ towards zero. By doing this, it restricts the possible set of values that $\mathbf{w}$ might take according to the first term. The value that we use for $\lambda$ will allow a compromise between a value of $\mathbf{w}$ that exactly fits the data (first term) or a value of $\mathbf{w}$ that does not grow too much (second term).

This type of regularisation has different names: ridge regression, Tikhonov regularisation or $\ell_2$ norm regularisation. 

## 1.2 Optimising the objective function with respect to $\mathbf{w}$

There are two ways we can optimise the objective function with respect to $\mathbf{w}$. The first one leads to a closed form expression for $\mathbf{w}$ and the second one using an iterative optimisation procedure that updates the value of $\mathbf{w}$ at each iteration by using the gradient of the objective function with respect to $\mathbf{w}$,
$$
\mathbf{w}_{\text{new}} = \mathbf{w}_{\text{old}} - \eta \frac{d E(\mathbf{w}, \lambda)}{d\mathbf{w}},
$$
where $\eta$ is the *learning rate* parameter and $\frac{d E(\mathbf{w}, \lambda)}{d\mathbf{w}}$ is the gradient of the objective function.

It can be shown (this is a question in the Exercise Sheet 4) that a closed-form expression for the optimal $\mathbf{w}_*$ is given as

\begin{align*}            
            \mathbf{w}_*& = \left(\mathbf{X}^{\top}\mathbf{X} + \frac{\lambda N}   
                                     {2}\mathbf{I}\right)^{-1}\mathbf{X}^{\top}\mathbf{y}.
\end{align*}

Alternatively, we can find an update equation for $\mathbf{w}_{\text{new}}$ using gradient descent leading to:

\begin{align*}
   \mathbf{w}_{\text{new}} & = \mathbf{w}_{\text{old}} - \eta \frac{d E(\mathbf{w}, \lambda)}
                              {d\mathbf{w}},\\
                           & = \mathbf{w}_{\text{old}} +  \frac{2\eta}{N}\sum_{n=1}^N   
                               \left(y_n - \mathbf{x}_n^{\top}\mathbf{w}_{\text{old}}\right)\mathbf{x}_n  
                       - \eta\lambda\mathbf{w}_{\text{old}}\\
                           & = (1 - \eta\lambda)\mathbf{w}_{\text{old}} + \frac{2\eta}
                               {N}\sum_{n=1}^N   
                               \left(y_n - \mathbf{x}_n^{\top}\mathbf{w}_{\text{old}}\right)\mathbf{x}_n
\end{align*}

## 1.3 Preprocessing the data

As mentioned before, the dataset has missing values tagged with a -200 value. Before doing any work with the training data, we want to make sure that we deal properly with the missing values. Furthermore, once we have dealt with the missing values, we want to standardise the training data. 

### Question 1.a: Missing values and standardisation (2 marks)

* For all the other features with missing values, use the mean value of the non-missing values for that feature to perform imputation. Save these mean values, you will need them when performing the validation stage (**1 mark**).

* Once you have imputed the missing data, we need to standardise the input vectors. Standardise the training data by substracting the mean value for each feature and dividing the result by the standard deviation of each feature. Keep the mean values and standard deviations, you will need them at validation time (**1 mark**).

#### Question 1.a Answer

In [ ]:
#In this task the following datasets wil be used:
#data_training_unproc - Select the training data
#data_val_unproc - Select the val data
#data_test_unproc - Select the test data

In [ ]:
#Functions below are created for the first and second point of the Question 1.a
#Missing values(-200) replacement with mean
def replace_miss(dataset, mean_set=None):
  column_means = {}
  try:
    if mean_set!= None:
      column_means = mean_set
    for column in dataset.columns:
      #temp_col is a temporary array of all the elements from the selected columns exclduing the -200 value
      if mean_set!= None:
        dataset[column] = [value if value != -200 else mean_set[column] for value in dataset[column]]
      else:
        temp_col = [i for i in dataset[column] if i != -200]
        mean_col = np.mean(temp_col)
        column_means[column] = mean_col
      #final -200 values replacement
        dataset[column] = [value if value != -200 else mean_col for value in dataset[column]]
    return column_means
  except:
    return "sorry, error occured during this replacement"

#Additional separate function for mean calculation
def mean_calc(single_column):
  meancol = np.mean(single_column)
  return meancol


def standarization(dataset, mean_set=None, std_set=None):
    column_std = {}
    try:
      if std_set != None:
        column_std = std_set
      for column in dataset.columns:
        #standarizatin function is also prepared for handling datasets not 
        #being preprocessed with replace_miss function earlier
        if mean_set != None:
          mean_col = mean_set[column]
        else:
          temp_col = [i for i in dataset[column] if i != -200]
          mean_col = np.mean(temp_col)
        if std_set != None:
          stand_dev = std_set[column]
        else:
          stand_dev = np.std(dataset[column])
          column_std[column] = stand_dev
        dataset[column] = [(value - mean_col) / stand_dev for value in dataset[column]]
      return column_std
    except:
      return "sorry, error occured during this standarization"

In [ ]:
#for better data analysis and understanding the dataframe of the training set is displayed below
data_training_unproc.iloc[:20]

      CO(GT)  PT08.S1(CO)   C6H6(GT)  ...          T         RH        AH
6656     1.8       994.50   5.902703  ...   6.700000  64.650000  0.638121
2723     0.5       886.50   2.916438  ...  25.150000  47.974999  1.511502
7873     4.1      1258.75  17.044564  ...   9.375000  36.675000  0.432383
2607     1.6      1062.50   7.868564  ...  27.199999  41.125000  1.461106
9333     1.1       956.00   5.395234  ...  30.000000  11.075000  0.462436
2652     0.7       955.75   5.410637  ...  25.275000  47.599999  1.510786
562      0.8       986.25   2.987862  ...  14.450000  57.975001  0.948831
5460     1.2      1029.25   7.528240  ...  17.275000  78.375000  1.532012
6821     2.9      1182.50   9.125831  ...   6.625000  83.325001  0.818323
2265     0.6       905.50   4.146091  ...  24.350000  48.174999  1.447627
318      1.2      1044.75   4.853262  ...  11.075000  62.224999  0.819875
7505     3.8      1214.00  15.132196  ...   8.175000  40.525000  0.441355
4308     0.7       954.25   3.124777  ...  23.675000  49.175000  1.419536
6790     0.9       755.00   3.628731  ...  14.900000  17.075000  0.287539
7492     1.2       907.25   3.888199  ...   7.050000  41.499999  0.419336
2680     2.9      1276.25  18.045499  ...  34.224999  30.675000  1.625164
692      2.8      1144.00  13.903863  ...  20.650000  22.575000  0.543151
727      1.7      1115.75   6.923913  ...  11.525000  70.050001  0.950332
3570     2.6      1170.50  14.383639  ...  33.549999  36.049999  1.839454
3795     1.1       906.25   5.529347  ...  29.375000  30.500000  1.228757

[20 rows x 12 columns]

In [ ]:
#First and second point - (missing values + standarization) preprocessing the training data
training_set = data_training_unproc.copy()

#the variable miss_vals stores means for all the columns
miss_vals = replace_miss(training_set)

#the variable standard_vals stores standard deviations for all the columns
standard_vals = standarization(training_set, mean_set=miss_vals)

In [ ]:
#as we can see missing values are replaced and standarization is applied
training_set.iloc[:20]

        CO(GT)  PT08.S1(CO)  C6H6(GT)  ...         T        RH        AH
6656 -0.246034    -0.544423 -0.602387  ... -1.281566  0.904818 -0.902549
2723 -1.135509    -1.049518 -1.010901  ...  0.860155 -0.069879  1.342413
7873  1.327654     0.691423  0.921792  ... -0.971046 -0.730393 -1.431382
2607 -0.382876    -0.226400 -0.333463  ...  1.098123 -0.470279  1.212873
9333 -0.724982    -0.724480 -0.671808  ...  1.423154 -2.226779 -1.354134
2652 -0.998667    -0.725649 -0.669701  ...  0.874665 -0.091799  1.340573
562  -0.930245    -0.583006 -1.001130  ... -0.381927  0.514647 -0.103891
5460 -0.656561    -0.381904 -0.380018  ... -0.053995  1.707080  1.395131
6821  0.506600     0.334817 -0.161472  ... -1.290272  1.996420 -0.439352
2265 -1.067088    -0.960658 -0.842688  ...  0.767289 -0.058188  1.178226
318  -0.656561    -0.309413 -0.745948  ... -0.773706  0.763070 -0.435363
7505  1.122390     0.482136  0.660184  ... -1.110345 -0.505351 -1.408322
4308 -0.998667    -0.732664 -0.982401  ...  0.688933  0.000264  1.106021
6790 -0.861824    -1.664518 -0.913461  ... -0.329690 -1.876064 -1.803692
7492 -0.656561    -0.952474 -0.877967  ... -1.240937 -0.448359 -1.464918
2680  0.506600     0.773267  1.058717  ...  1.913603 -1.081109  1.634572
692   0.438178     0.154760  0.492151  ...  0.337784 -1.554575 -1.146662
727  -0.314455     0.022640 -0.462688  ... -0.721469  1.220462 -0.100033
3570  0.301336     0.278695  0.557784  ...  1.835247 -0.766926  2.185389
3795 -0.724982    -0.957151 -0.653462  ...  1.350603 -1.091338  0.615637

[20 rows x 12 columns]

## 1.4 Training and validation stages

We have now curated our training data by removing data observations and features with a large amount of missing values. We have also normalised the feature vectors. We are now in a good position to work on developing the prediction model and validating it. We will use gradient descent for iterative optimisation. 

We first organise the dataframe into the vector of targets $\mathbf{y}$, call it `yTrain`, and the design matrix $\mathbf{X}$, call it `XTrain`.

In [ ]:
# Answer 1.4 - Spliting the preprocessed training set to features and target value
yTrain = training_set.iloc[:,0]
xTrain = training_set.iloc[:,1:]

In [ ]:
#target variable CO(GT) is removed from xTrain
xTrain

      PT08.S1(CO)  C6H6(GT)  PT08.S2(NMHC)  ...         T        RH        AH
6656    -0.544423 -0.602387      -0.539725  ... -1.281566  0.904818 -0.902549
2723    -1.049518 -1.010901      -1.155658  ...  0.860155 -0.069879  1.342413
7873     0.691423  0.921792       1.010663  ... -0.971046 -0.730393 -1.431382
2607    -0.226400 -0.333463      -0.207773  ...  1.098123 -0.470279  1.212873
9333    -0.724480 -0.671808      -0.632786  ...  1.423154 -2.226779 -1.354134
...           ...       ...            ...  ...       ...       ...       ...
6524     0.684408  0.774816       0.885941  ...  0.192681 -0.118102  0.158752
136      2.917583  2.017620       1.852055  ...  0.009851 -0.367987 -0.313652
5654    -0.207693 -0.217138      -0.075376  ...  0.154954  1.544874  1.703228
461     -0.987550 -1.020036      -1.171968  ... -0.616994 -1.010965 -1.364720
806      1.594047  1.612388       1.556560  ... -0.663427  0.520492 -0.451048

[5372 rows x 11 columns]

In [ ]:
#target variable CO(GT) - yTrain
yTrain

6656   -0.246034
2723   -1.135509
7873    1.327654
2607   -0.382876
9333   -0.724982
          ...
6524    0.985548
136     2.148708
5654   -0.451297
461    -0.793403
806     1.601338
Name: CO(GT), Length: 5372, dtype: float64

### Question 1.b: finding the optimal $\mathbf{w}$ with stochastic gradient descent (3 marks)

Use gradient descent to iteratively compute the value of $\mathbf{w}_{\text{new}}$. Instead of using all the training set in `XTrain` and `yTrain` to compute the gradient, use a subset of $S$ instances in `XTrain` and `yTrain`. This is sometimes called *minibatch gradient descent* where $S$ is the size of the minibacth. When using gradient descent with minibatches, you need to find the best values for three parameters: $\eta$, the learning rate, $S$, the number of datapoints in the minibatch and $\gamma$, the regularisation parameter.

* In this question we will use the validation data. So before proceeding to the next steps, make sure that you:  replace the missing values on each feature variables with the mean value you computed with the training data; standardise the validation data using the means and standard deviations computed from the training data (**1 mark**).
    
* Create a grid of values for the parameters $\gamma$ and $\eta$ using `np.logspace` and a grid of values for $S$ using `np.linspace`. Because you need to find three parameters, start with five values for each parameter in the grid and see if you can increase it. Make sure you understand what is the meaning of `np.logspace` and `np.linspace`. Notice that you can use negative values for `start` in `np.logspace` (**1 mark**).

* For each value that you have of $\gamma$, $\eta$ and $S$ from the previous step, use the training set to compute $\mathbf{w}$ using minibatch gradient descent and then measure the RMSE over the validation data. For the validation data, make sure you preprocess it before applying the prediction model over it. For the minibatch gradient descent choose to stop the iterative procedure after $200$ iterations (**1 mark**).

* Choose the values of $\gamma$, $\eta$ and $S$ that lead to the lowest RMSE and save them. You will use them at the test stage.

#### Question 1.b Answer

In [ ]:
#displaying the unprocessed validation set to analyze the data
data_val_unproc.iloc[:20]

      CO(GT)  PT08.S1(CO)   C6H6(GT)  ...          T         RH        AH
8286     2.7      1156.00   8.239851  ...   4.125000  54.975000  0.455840
765      0.9       854.00   3.096375  ...  22.050000  18.975000  0.496923
2350     2.3      1100.50  12.199629  ...  33.000000  26.025000  1.287704
8452     2.7      1206.75  11.249663  ...   6.200000  62.425001  0.595807
5555     0.8       905.00   5.247306  ...  15.200000  77.974998  1.338227
6009     0.6       736.75   0.925975  ...  11.225000  41.325000  0.549830
1366     3.6      1271.50  14.602582  ...  12.700000  74.225002  1.086300
0        2.6      1360.00  11.881723  ...  13.600000  48.875001  0.757754
3623     0.9       907.75   4.068437  ...  34.999999  31.050000  1.717252
2750     2.3      1172.75  14.422632  ...  23.225000  43.925000  1.234377
4890     1.7      1158.25  10.818084  ...  24.600000  42.799999  1.305314
2569     3.4      1082.75  17.916912  ...  29.925000  19.750000  0.821133
2519     3.6      1210.25  20.708088  ...  32.525001  25.250000  1.216498
1485     1.9      1131.00  12.243257  ...  26.525000  27.175000  0.928202
6183     5.7      1578.25  27.616628  ...   9.925000  77.625000  0.948823
2964     1.4      1003.75   9.397165  ...  18.474999  57.350000  1.207623
2254     1.4      1082.25   8.985058  ...  36.400000  20.950000  1.251490
7750     1.5       904.50   4.673235  ...   6.950000  33.549999  0.336745
1141     4.1      1518.25  23.419668  ...  15.900000  48.525000  0.870351
4018     0.6       884.00   3.563986  ...  22.925000  56.125000  1.549157

[20 rows x 12 columns]

In [ ]:
#First bulletpoint - replacing missing values in validation set and standarization
validation_set = data_val_unproc.copy()
miss_validation = replace_miss(validation_set, mean_set=miss_vals)
standard_validation = standarization(validation_set, mean_set=miss_vals, std_set=standard_vals)

In [ ]:
validation_set.iloc[:20]

        CO(GT)  PT08.S1(CO)  C6H6(GT)  ...         T        RH        AH
8286  0.369757     0.210882 -0.282671  ... -1.580478  0.339289 -1.371088
765  -0.861824    -1.201514 -0.986286  ...  0.500299 -1.765004 -1.265488
2350  0.096072    -0.048681  0.259016  ...  1.771402 -1.352913  0.767157
8452  0.369757     0.448229  0.129064  ... -1.339607  0.774761 -1.011313
5555 -0.930245    -0.962997 -0.692044  ... -0.294866  1.683698  0.897021
6009 -1.067088    -1.749869 -1.283191  ... -0.756293 -0.458589 -1.129494
1366  0.985548     0.751053  0.587735  ... -0.585072  1.464501  0.249461
0     0.301336     1.164950  0.215528  ... -0.480597 -0.017272 -0.595041
3623 -0.861824    -0.950135 -0.853310  ...  2.003566 -1.059189  1.871278
2750  0.096072     0.289218  0.563118  ...  0.636696 -0.306612  0.630083
4890 -0.314455     0.221404  0.070025  ...  0.796309 -0.372371  0.812423
2569  0.848705    -0.131694  1.041127  ...  1.414448 -1.719703 -0.432130
2519  0.985548     0.464598  1.422953  ...  1.716263 -1.398214  0.584126
1485 -0.177612     0.093961  0.264985  ...  1.019768 -1.285693 -0.156918
6183  2.422393     2.185663  2.368024  ... -0.907200  1.663240 -0.103912
2964 -0.519718    -0.501162 -0.124354  ...  0.085304  0.478114  0.561314
2254 -0.519718    -0.134033 -0.180729  ...  2.166082 -1.649560  0.674072
7750 -0.451297    -0.965335 -0.770575  ... -1.252546 -0.913057 -1.677213
1141  1.327654     1.905054  1.793890  ... -0.213608 -0.037730 -0.305620
4018 -1.067088    -1.061210 -0.922318  ...  0.601871  0.406510  1.439201

[20 rows x 12 columns]

In [ ]:
#second point - grid creation for the regularization parameter, batch size and learning rate(5 values for each parameter)
#in case of the minibatch size value needs to be an integer as it represents the number of datapoints
size_grid = np.linspace(5, 100, 5, dtype=int)
learning_rate_grid = np.logspace(-6,-2,5)
regularization_parameter_grid = np.logspace(-4,1,5)

#creating parameters dataframe
parameters = [size_grid, learning_rate_grid, regularization_parameter_grid]
parameters = np.array(parameters).T

#displaying the parameters values
grid_parameters = pd.DataFrame(parameters, columns=["minibatch size", "learning rate", "regularization parameter"])
grid_parameters

   minibatch size  learning rate  regularization parameter
0             5.0       0.000001                  0.000100
1            28.0       0.000010                  0.001778
2            52.0       0.000100                  0.031623
3            76.0       0.001000                  0.562341
4           100.0       0.010000                 10.000000

In [ ]:
#Spliting the validation set
yVal = validation_set.iloc[:,0]
xVal = validation_set.iloc[:,1:]

In [ ]:
#third point - For each value that you have of   ,    and  S  from the previous step, use the training set to compute  w  using minibatch gradient descent and then measure the RMSE over the validation data.
# For the validation data, make sure you preprocess it before applying the prediction model over it. 
#For the minibatch gradient descent choose to stop the iterative procedure after  200  iterations
import random

#seed based on my Ucard number
np.random.seed(70629)
random.seed(70629)

#Best RMSE and parameter values initialization
min_rmse = np.inf
min_batch_size = np.inf
min_eta = np.inf
min_gamma = np.inf

#number of epochs
num_epochs = 200

#initialization of the parameters list
rmse_parameter = []


def gradient_calculation(xSet, ySet, weights, regularization=0, lr=0.001, batch_size=10):
  r = random.sample(range(xSet.shape[0]), batch_size)
  xBatch = xSet.iloc[r]
  yBatch = ((ySet.iloc[r]).values).reshape(-1,1)

  gradient = (-np.dot(xBatch.T, yBatch) + np.dot(np.dot(xBatch.T,xBatch),weights)) + np.dot(regularization,weights)
  weights = weights - lr * gradient
  return weights

def RMSE_calculation(xValSet, yValSet, weights):
  valWeights = (np.dot(xValSet, weights))
  diff_mse = np.squeeze(np.asarray((yValSet.values).reshape(-1,1) - valWeights))
  mse = ((1/len(xValSet))*np.dot(diff_mse, diff_mse.T))
  return np.sqrt(mse)

#minibatch gradient descent
for gamma in regularization_parameter_grid:   
    for eta in learning_rate_grid:        
        for batch_size in size_grid:    

            #random weights initialization
            weights = 0.5*np.random.randn(11,1)
            for i in range(num_epochs):
                weights = gradient_calculation(xSet = xTrain,ySet = yTrain, regularization = gamma, lr = eta, batch_size = batch_size, weights= weights)

            rmse = RMSE_calculation(xVal, yVal, weights)
            
            rmse_parameter.append([gamma, eta, batch_size, rmse])
            if rmse < min_rmse:
                min_rmse = rmse
                min_batch_size = batch_size
                min_eta = eta
                min_gamma = gamma
            print('Parameters: : {}, : {}, : {}, result in RMSE: {}'.format(gamma, eta, batch_size, rmse))

print('Lowest RMSE recorded:', min_rmse)

Parameters: : 0.0001, : 1e-06, : 5, result in RMSE: 1.9733832775089881
Parameters: : 0.0001, : 1e-06, : 28, result in RMSE: 2.78463104876181
Parameters: : 0.0001, : 1e-06, : 52, result in RMSE: 1.5951887579987856
Parameters: : 0.0001, : 1e-06, : 76, result in RMSE: 1.517301598943861
Parameters: : 0.0001, : 1e-06, : 100, result in RMSE: 2.0313748015945507
Parameters: : 0.0001, : 1e-05, : 5, result in RMSE: 3.1140690770616164
Parameters: : 0.0001, : 1e-05, : 28, result in RMSE: 1.689377706972772
Parameters: : 0.0001, : 1e-05, : 52, result in RMSE: 0.9657505308991698
Parameters: : 0.0001, : 1e-05, : 76, result in RMSE: 1.3196425118946369
Parameters: : 0.0001, : 1e-05, : 100, result in RMSE: 0.982870887583259
Parameters: : 0.0001, : 0.0001, : 5, result in RMSE: 1.4340705438333425
Parameters: : 0.0001, : 0.0001, : 28, result in RMSE: 0.5210522089644318
Parameters: : 0.0001, : 0.0001, : 52, result in RMSE: 0.47480280400945823
Parameters: : 0.0001, : 0.0001, : 76, result in RMSE: 0.5576097843662338
Parameters: : 0.0001, : 0.0001, : 100, result in RMSE: 0.6264393579702513
Parameters: : 0.0001, : 0.001, : 5, result in RMSE: 0.6298025088522768
Parameters: : 0.0001, : 0.001, : 28, result in RMSE: 0.3587374061000679
Parameters: : 0.0001, : 0.001, : 52, result in RMSE: 0.3698248706552066
Parameters: : 0.0001, : 0.001, : 76, result in RMSE: 0.3678905531565542
Parameters: : 0.0001, : 0.001, : 100, result in RMSE: 0.33921391156747066
Parameters: : 0.0001, : 0.01, : 5, result in RMSE: 0.41748854233077626
Parameters: : 0.0001, : 0.01, : 28, result in RMSE: 0.3484067605940333
Parameters: : 0.0001, : 0.01, : 52, result in RMSE: 3.6258865432594104e+58
Parameters: : 0.0001, : 0.01, : 76, result in RMSE: 5.8699559110700994e+106
Parameters: : 0.0001, : 0.01, : 100, result in RMSE: 8.145150777748543e+135
Parameters: : 0.0017782794100389228, : 1e-06, : 5, result in RMSE: 0.9264495411898048
Parameters: : 0.0017782794100389228, : 1e-06, : 28, result in RMSE: 0.8775082600285946
Parameters: : 0.0017782794100389228, : 1e-06, : 52, result in RMSE: 1.7373967661606748
Parameters: : 0.0017782794100389228, : 1e-06, : 76, result in RMSE: 2.240373499303104
Parameters: : 0.0017782794100389228, : 1e-06, : 100, result in RMSE: 3.50449879107984
Parameters: : 0.0017782794100389228, : 1e-05, : 5, result in RMSE: 1.4432939424033933
Parameters: : 0.0017782794100389228, : 1e-05, : 28, result in RMSE: 2.6017990826082844
Parameters: : 0.0017782794100389228, : 1e-05, : 52, result in RMSE: 1.1201977746926657
Parameters: : 0.0017782794100389228, : 1e-05, : 76, result in RMSE: 1.2480138100644707
Parameters: : 0.0017782794100389228, : 1e-05, : 100, result in RMSE: 0.8127307145372901
Parameters: : 0.0017782794100389228, : 0.0001, : 5, result in RMSE: 0.8686178876747425
Parameters: : 0.0017782794100389228, : 0.0001, : 28, result in RMSE: 0.588886868518357
Parameters: : 0.0017782794100389228, : 0.0001, : 52, result in RMSE: 0.5480442978615502
Parameters: : 0.0017782794100389228, : 0.0001, : 76, result in RMSE: 0.6356521607439802
Parameters: : 0.0017782794100389228, : 0.0001, : 100, result in RMSE: 0.4912164844897145
Parameters: : 0.0017782794100389228, : 0.001, : 5, result in RMSE: 0.5377216353100267
Parameters: : 0.0017782794100389228, : 0.001, : 28, result in RMSE: 0.38863968684012773
Parameters: : 0.0017782794100389228, : 0.001, : 52, result in RMSE: 0.39715159000373
Parameters: : 0.0017782794100389228, : 0.001, : 76, result in RMSE: 0.35560778704743606
Parameters: : 0.0017782794100389228, : 0.001, : 100, result in RMSE: 0.3547803522416496
Parameters: : 0.0017782794100389228, : 0.01, : 5, result in RMSE: 0.38953845854548175
Parameters: : 0.0017782794100389228, : 0.01, : 28, result in RMSE: 0.3464397745357923
Parameters: : 0.0017782794100389228, : 0.01, : 52, result in RMSE: 2.008281076077788e+55
Parameters: : 0.0017782794100389228, : 0.01, : 76, result in RMSE: 4.5748250303040574e+110
Parameters: : 0.0017782794100389228, : 0.01, : 100, result in RMSE: 2.8693458044456594e+135
Parameters: : 0.03162277660168379, : 1e-06, : 5, result in RMSE: 2.058058553704687
Parameters: : 0.03162277660168379, : 1e-06, : 28, result in RMSE: 1.2988896022481828
Parameters: : 0.03162277660168379, : 1e-06, : 52, result in RMSE: 0.7506270692805163
Parameters: : 0.03162277660168379, : 1e-06, : 76, result in RMSE: 2.041061584484587
Parameters: : 0.03162277660168379, : 1e-06, : 100, result in RMSE: 0.7071859652405021
Parameters: : 0.03162277660168379, : 1e-05, : 5, result in RMSE: 2.7037169969128225
Parameters: : 0.03162277660168379, : 1e-05, : 28, result in RMSE: 0.9240148684350363
Parameters: : 0.03162277660168379, : 1e-05, : 52, result in RMSE: 1.188763295196243
Parameters: : 0.03162277660168379, : 1e-05, : 76, result in RMSE: 1.0494459580958668
Parameters: : 0.03162277660168379, : 1e-05, : 100, result in RMSE: 0.994541564954085
Parameters: : 0.03162277660168379, : 0.0001, : 5, result in RMSE: 1.4149974104590823
Parameters: : 0.03162277660168379, : 0.0001, : 28, result in RMSE: 0.5846650657910165
Parameters: : 0.03162277660168379, : 0.0001, : 52, result in RMSE: 0.6208612717492422
Parameters: : 0.03162277660168379, : 0.0001, : 76, result in RMSE: 0.5282413223059472
Parameters: : 0.03162277660168379, : 0.0001, : 100, result in RMSE: 0.41075021799273725
Parameters: : 0.03162277660168379, : 0.001, : 5, result in RMSE: 0.5318224458613054
Parameters: : 0.03162277660168379, : 0.001, : 28, result in RMSE: 0.3740364269535814
Parameters: : 0.03162277660168379, : 0.001, : 52, result in RMSE: 0.38206633362486514
Parameters: : 0.03162277660168379, : 0.001, : 76, result in RMSE: 0.3484059186048416
Parameters: : 0.03162277660168379, : 0.001, : 100, result in RMSE: 0.36428871510721467
Parameters: : 0.03162277660168379, : 0.01, : 5, result in RMSE: 0.4261479198024759
Parameters: : 0.03162277660168379, : 0.01, : 28, result in RMSE: 0.39507529196937585
Parameters: : 0.03162277660168379, : 0.01, : 52, result in RMSE: 3.236410088887289e+62
Parameters: : 0.03162277660168379, : 0.01, : 76, result in RMSE: 8.470629679413799e+104
Parameters: : 0.03162277660168379, : 0.01, : 100, result in RMSE: 4.916401468499498e+136
Parameters: : 0.5623413251903491, : 1e-06, : 5, result in RMSE: 1.626827270877579
Parameters: : 0.5623413251903491, : 1e-06, : 28, result in RMSE: 2.5204186254726157
Parameters: : 0.5623413251903491, : 1e-06, : 52, result in RMSE: 2.416019500685182
Parameters: : 0.5623413251903491, : 1e-06, : 76, result in RMSE: 0.8387984981072316
Parameters: : 0.5623413251903491, : 1e-06, : 100, result in RMSE: 1.7411416335449785
Parameters: : 0.5623413251903491, : 1e-05, : 5, result in RMSE: 1.518582342574195
Parameters: : 0.5623413251903491, : 1e-05, : 28, result in RMSE: 1.6798674538041127
Parameters: : 0.5623413251903491, : 1e-05, : 52, result in RMSE: 0.7528177343777026
Parameters: : 0.5623413251903491, : 1e-05, : 76, result in RMSE: 0.7381896142583229
Parameters: : 0.5623413251903491, : 1e-05, : 100, result in RMSE: 0.8464717339178828
Parameters: : 0.5623413251903491, : 0.0001, : 5, result in RMSE: 1.8872260182122462
Parameters: : 0.5623413251903491, : 0.0001, : 28, result in RMSE: 0.767220229267146
Parameters: : 0.5623413251903491, : 0.0001, : 52, result in RMSE: 0.6635422987194892
Parameters: : 0.5623413251903491, : 0.0001, : 76, result in RMSE: 0.4676252760882984
Parameters: : 0.5623413251903491, : 0.0001, : 100, result in RMSE: 0.4430730245931026
Parameters: : 0.5623413251903491, : 0.001, : 5, result in RMSE: 0.48567318766428436
Parameters: : 0.5623413251903491, : 0.001, : 28, result in RMSE: 0.3753252078324296
Parameters: : 0.5623413251903491, : 0.001, : 52, result in RMSE: 0.3488095598677131
Parameters: : 0.5623413251903491, : 0.001, : 76, result in RMSE: 0.359338794395539
Parameters: : 0.5623413251903491, : 0.001, : 100, result in RMSE: 0.33836392234256946
Parameters: : 0.5623413251903491, : 0.01, : 5, result in RMSE: 0.36101830510879757
Parameters: : 0.5623413251903491, : 0.01, : 28, result in RMSE: 0.5159899549850926
Parameters: : 0.5623413251903491, : 0.01, : 52, result in RMSE: 5.374020269515613e+55
Parameters: : 0.5623413251903491, : 0.01, : 76, result in RMSE: 1.867750613118196e+107
Parameters: : 0.5623413251903491, : 0.01, : 100, result in RMSE: 1.0819782284132901e+138
Parameters: : 10.0, : 1e-06, : 5, result in RMSE: 1.302997292838814
Parameters: : 10.0, : 1e-06, : 28, result in RMSE: 1.4265992552008202
Parameters: : 10.0, : 1e-06, : 52, result in RMSE: 0.9662729935478813
Parameters: : 10.0, : 1e-06, : 76, result in RMSE: 2.496287297368934
Parameters: : 10.0, : 1e-06, : 100, result in RMSE: 2.6034834880878206
Parameters: : 10.0, : 1e-05, : 5, result in RMSE: 1.455080329418965
Parameters: : 10.0, : 1e-05, : 28, result in RMSE: 0.9904834932851294
Parameters: : 10.0, : 1e-05, : 52, result in RMSE: 1.169372227288776
Parameters: : 10.0, : 1e-05, : 76, result in RMSE: 1.4832320747228007
Parameters: : 10.0, : 1e-05, : 100, result in RMSE: 0.7463292627592445
Parameters: : 10.0, : 0.0001, : 5, result in RMSE: 1.7087198211791959
Parameters: : 10.0, : 0.0001, : 28, result in RMSE: 0.5499996543303546
Parameters: : 10.0, : 0.0001, : 52, result in RMSE: 0.6647419039846552
Parameters: : 10.0, : 0.0001, : 76, result in RMSE: 0.4754318624806561
Parameters: : 10.0, : 0.0001, : 100, result in RMSE: 0.392180055158702
Parameters: : 10.0, : 0.001, : 5, result in RMSE: 0.4832754836000618
Parameters: : 10.0, : 0.001, : 28, result in RMSE: 0.3737889047536753
Parameters: : 10.0, : 0.001, : 52, result in RMSE: 0.36243170716004564
Parameters: : 10.0, : 0.001, : 76, result in RMSE: 0.3505483556205328
Parameters: : 10.0, : 0.001, : 100, result in RMSE: 0.347852802049553
Parameters: : 10.0, : 0.01, : 5, result in RMSE: 0.41900270791229727
Parameters: : 10.0, : 0.01, : 28, result in RMSE: 0.5679314120060841
Parameters: : 10.0, : 0.01, : 52, result in RMSE: 5.271085455475502e+64
Parameters: : 10.0, : 0.01, : 76, result in RMSE: 3.463865349042411e+110
Parameters: : 10.0, : 0.01, : 100, result in RMSE: 7.904172646504365e+138
Lowest RMSE recorded: 0.33836392234256946

In [ ]:
#forth point answer - choosing the parameters resulting in the lowest RMSE
rmse_parameter_frame = pd.DataFrame(rmse_parameter,columns=["regularization", "learning rate", "batch size", "RMSE"])
rmse_parameter_frame

     regularization  learning rate  batch size           RMSE
0            0.0001       0.000001           5   1.973383e+00
1            0.0001       0.000001          28   2.784631e+00
2            0.0001       0.000001          52   1.595189e+00
3            0.0001       0.000001          76   1.517302e+00
4            0.0001       0.000001         100   2.031375e+00
..              ...            ...         ...            ...
120         10.0000       0.010000           5   4.190027e-01
121         10.0000       0.010000          28   5.679314e-01
122         10.0000       0.010000          52   5.271085e+64
123         10.0000       0.010000          76  3.463865e+110
124         10.0000       0.010000         100  7.904173e+138

[125 rows x 4 columns]

In [ ]:
#forth point answer
print('best batch size: ', min_batch_size)
print('best learning rate: ', min_eta)
print('best L2 regularization: ', min_gamma)
print('minimum RMSE: ', min_rmse)

best batch size:  100
best learning rate:  0.001
best L2 regularization:  0.5623413251903491
minimum RMSE:  0.33836392234256946

## 1.5 Test stage 

We now know which one is the best model, according to the validation data. We will now put together the training data and the validation data, perform the preprocessing as we did before, this is, treat the missing values and standardise the inputs. We will train the model again using the minibatch stochastic gradient descent and finally compute the RMSE over the test data.


### Question 1.c: combine the original training and original validation data and perform the preprocessing again to this new data (2 marks)

Put together the original training and validation dataset and perform the same preprocessing steps than before, these are: 

* for each feature, impute the missing values with the mean values of the non-missing values (**1 mark**) 

* stardardise the new training set (**1 mark**).

#### Question 1.c Answer

In [ ]:
# first point join unprocesssed training and validation sets and process them

#my preprocessing methods require keeping the same names of the columns, threfore pd.concat was used instead of np.vstack 
new_training_set = [data_training_unproc.copy(), data_val_unproc.copy()]
new_training_set = pd.concat(new_training_set)

#first point - impute missing values with mean
miss_new_train = replace_miss(new_training_set)

#second point - standarization
standard_new_train = standarization(new_training_set, mean_set=miss_new_train)

In [ ]:
# new training set displayed for analysis and proof it is preprocessed
new_training_set[:20]

        CO(GT)  PT08.S1(CO)  C6H6(GT)  ...         T        RH        AH
6656 -0.245369    -0.541535 -0.603990  ... -1.277596  0.909522 -0.897902
2723 -1.138606    -1.046059 -1.014735  ...  0.848368 -0.060787  1.340208
7873  1.334972     0.692912  0.928514  ... -0.969360 -0.718329 -1.425120
2607 -0.382790    -0.223872 -0.333596  ...  1.084586 -0.459385  1.211064
9333 -0.726343    -0.721389 -0.673790  ...  1.407225 -2.207979 -1.348108
2652 -1.001185    -0.722557 -0.671671  ...  0.862771 -0.082609  1.338374
562  -0.932474    -0.580075 -1.004911  ... -0.384576  0.521107 -0.101681
5460 -0.657632    -0.379200 -0.380406  ... -0.059056  1.708173  1.392766
6821  0.510446     0.336709 -0.160666  ... -1.286238  1.996211 -0.436118
2265 -1.069895    -0.957300 -0.845603  ...  0.756185 -0.049150  1.176523
318  -0.657632    -0.306792 -0.748335  ... -0.773471  0.768413 -0.432141
7505  1.128841     0.483862  0.665478  ... -1.107634 -0.494299 -1.402131
4308 -1.001185    -0.729564 -0.986079  ...  0.678406  0.009040  1.104538
6790 -0.863764    -1.660363 -0.916763  ... -0.332723 -1.858842 -1.796295
7492 -0.657632    -0.949125 -0.881074  ... -1.237266 -0.437564 -1.458554
2680  0.510446     0.774664  1.066188  ...  1.894065 -1.067465  1.631476
692   0.441736     0.156856  0.496527  ...  0.329840 -1.538800 -1.141269
727  -0.314080     0.024886 -0.463528  ... -0.721619  1.223745 -0.097835
3570  0.304315     0.280651  0.562518  ...  1.816286 -0.754697  2.180612
3795 -0.726343    -0.953797 -0.655343  ...  1.335208 -1.077649  0.615651

[20 rows x 12 columns]

### Question 1.d: Preprocess the test data, train the model and predict over the test data (3 marks)

Preprocess the test data and train a new model using the new training set. Finally, report the RMSE over the test set:

* Preprocess the test data by imputing the missing data and standardising it (**1 mark**). 

* Use the best values of $\gamma$, $\eta$ and $S$ found in the validation set and train a new regularised linear model with stochastic gradient descent (**1 mark**).

* Report the RMSE over the test data (**1 mark**).

#### Question 1.d Answer

In [ ]:
# first point - missing data removal and standarization
test_set = data_test_unproc.copy()
miss_test = replace_miss(test_set, mean_set=miss_new_train)
standard_test = standarization(test_set, mean_set=miss_new_train, std_set=standard_new_train)

In [ ]:
# test set displayed for analysis and proof it is preprocessed
test_set[:20]

        CO(GT)  PT08.S1(CO)  C6H6(GT)  ...         T        RH        AH
6607 -0.382790    -1.190876 -0.807220  ... -0.612152 -1.455880 -1.645976
8128  0.373025     1.265173  0.216417  ... -1.156606  0.519653 -0.960859
5775  0.510446     0.474519  0.833690  ... -0.214614  1.206289  0.677807
4664 -1.069895    -1.251606 -0.995540  ...  0.499802  0.043954  0.822370
530   1.884657     1.986922  1.363894  ...  0.053292 -0.472478 -0.356630
477  -0.176659     0.055251 -0.321964  ...  0.148356 -1.310407 -1.049327
4012 -0.382790    -0.191172 -0.467449  ...  1.185411 -0.060787  2.062278
6086  1.815946     1.717142  1.403673  ... -0.352888  0.820783  0.160893
6580 -0.932474    -1.486349 -1.143739  ... -0.635197 -0.020055 -0.756894
2789 -0.176659    -0.114092 -0.059199  ...  0.865652 -0.572855  0.657833
7574  0.853999     0.678898  0.567881  ... -1.245908  0.423640 -1.082626
9322 -1.138606    -1.217737 -1.142357  ... -0.891581  0.038135 -0.964382
5764 -0.176659     0.101966  0.051269  ...  0.030246  1.078272  1.017341
5868 -1.276027    -1.584451 -1.290834  ... -1.323687  2.082040 -0.445082
9040  1.609815     1.360939  1.171032  ... -0.148357  0.147240 -0.072887
5927  0.304315     0.196564  0.353087  ... -0.087863  0.494922  0.303821
8509 -1.207316    -1.373065 -1.325749  ... -1.761555  0.214158 -1.531655
1063  0.304315     1.112181  0.427331  ... -0.191568  0.490558  0.145003
6555  0.922709     0.465176 -0.151822  ... -0.450832  1.609251  0.567086
5686  2.571762     2.094367  2.920285  ...  0.874294  0.097779  1.614890

[20 rows x 12 columns]

In [ ]:
#before moving to the second point both new train and test sets need to be splitted

yNewtrain = new_training_set.iloc[:,0]
xNewtrain = new_training_set.iloc[:,1:]

yTest = test_set.iloc[:,0]
xTest = test_set.iloc[:,1:]

In [ ]:
#second bulletpoint - Use the best values of   ,    and  S  found in the validation set and train a new regularised linear model with stochastic gradient descent

#basic initialization
np.random.seed(70629)
num_epochs = 200
new_weights = 0.5*np.random.randn(11,1)
#parameters are taken from the min variables previous task(min_eta, min_gamma, min_batch_size)

for i in range(num_epochs):
    new_weights = gradient_calculation(xSet = xNewtrain,ySet = yNewtrain, regularization = min_gamma, lr = min_eta, batch_size = min_batch_size, weights= new_weights)

rmse = RMSE_calculation(xTest, yTest, new_weights)


#third point -  RMSE on the test set
print('The RMSE on the test set is: {}'.format( rmse))

The RMSE on the test set is: 0.3369997960379572

# 2. Random forests (13 marks)

**USE scikit-learn for the questions on this section.**

In section 1, you used a regularised ridge regression model trained with SGD to create a linear predictive model. In this part of the assignment, you will use **scikit-learn** to train a random forest for regression over the air quality dataset.

## 2.1 Preprocessing the data

As mentioned before, the dataset has missing values tagged with a -200 value. Before doing any work with the training data, we want to make sure that we deal properly with the missing values. Furthermore, once we have dealt with the missing values, we want to standardise the training data. 

### Question 2.a: Pipeline for missing values and standardisation (3 marks)

* Employ the `SimpleImputer` method in Scikit-learn to impute the missing values in each column using the mean value of the non-missing values, instead (**1 mark**).

* Standardise the data by substracting the mean value for each feature and dividing the result by the standard deviation of each feature. Employ the `StandardScaler` method (**1 mark**).

* Create a `Pipeline` that you can use to preprocess the data by filling missing values and then standardising the features (**1 mark**).

#### Question 2.a Answer

In [ ]:
##new initialized sets for the Question 2 
training_setQ2 = data_training_unproc.copy()
validation_setQ2 = data_val_unproc.copy()
test_setQ2 = data_test_unproc.copy()

In [ ]:
#displaying and checking the training set for Q2 
training_setQ2.iloc[:20]

      CO(GT)  PT08.S1(CO)   C6H6(GT)  ...          T         RH        AH
6656     1.8       994.50   5.902703  ...   6.700000  64.650000  0.638121
2723     0.5       886.50   2.916438  ...  25.150000  47.974999  1.511502
7873     4.1      1258.75  17.044564  ...   9.375000  36.675000  0.432383
2607     1.6      1062.50   7.868564  ...  27.199999  41.125000  1.461106
9333     1.1       956.00   5.395234  ...  30.000000  11.075000  0.462436
2652     0.7       955.75   5.410637  ...  25.275000  47.599999  1.510786
562      0.8       986.25   2.987862  ...  14.450000  57.975001  0.948831
5460     1.2      1029.25   7.528240  ...  17.275000  78.375000  1.532012
6821     2.9      1182.50   9.125831  ...   6.625000  83.325001  0.818323
2265     0.6       905.50   4.146091  ...  24.350000  48.174999  1.447627
318      1.2      1044.75   4.853262  ...  11.075000  62.224999  0.819875
7505     3.8      1214.00  15.132196  ...   8.175000  40.525000  0.441355
4308     0.7       954.25   3.124777  ...  23.675000  49.175000  1.419536
6790     0.9       755.00   3.628731  ...  14.900000  17.075000  0.287539
7492     1.2       907.25   3.888199  ...   7.050000  41.499999  0.419336
2680     2.9      1276.25  18.045499  ...  34.224999  30.675000  1.625164
692      2.8      1144.00  13.903863  ...  20.650000  22.575000  0.543151
727      1.7      1115.75   6.923913  ...  11.525000  70.050001  0.950332
3570     2.6      1170.50  14.383639  ...  33.549999  36.049999  1.839454
3795     1.1       906.25   5.529347  ...  29.375000  30.500000  1.228757

[20 rows x 12 columns]

In [ ]:
#first point Simple Imputer on training set
from sklearn.impute import SimpleImputer

Q2_imputer = SimpleImputer(missing_values=-200, strategy='mean')
Q2_imputer.fit(training_setQ2)
training_setQ2 = Q2_imputer.transform(training_setQ2)

In [ ]:
#Second point - Standard Scaler on the training set
from sklearn.preprocessing import StandardScaler

Q2_scaler = StandardScaler()
Q2_scaler.fit(training_setQ2)
training_setQ2 = Q2_scaler.transform(training_setQ2)

In [ ]:
#training set display after preprocessing
pd.DataFrame(training_setQ2[:20])

          0         1         2   ...        9         10        11
0  -0.246034 -0.544423 -0.602387  ... -1.281566  0.904818 -0.902549
1  -1.135509 -1.049518 -1.010901  ...  0.860155 -0.069879  1.342413
2   1.327654  0.691423  0.921792  ... -0.971046 -0.730393 -1.431382
3  -0.382876 -0.226400 -0.333463  ...  1.098123 -0.470279  1.212873
4  -0.724982 -0.724480 -0.671808  ...  1.423154 -2.226779 -1.354134
5  -0.998667 -0.725649 -0.669701  ...  0.874665 -0.091799  1.340573
6  -0.930245 -0.583006 -1.001130  ... -0.381927  0.514647 -0.103891
7  -0.656561 -0.381904 -0.380018  ... -0.053995  1.707080  1.395131
8   0.506600  0.334817 -0.161472  ... -1.290272  1.996420 -0.439352
9  -1.067088 -0.960658 -0.842688  ...  0.767289 -0.058188  1.178226
10 -0.656561 -0.309413 -0.745948  ... -0.773706  0.763070 -0.435363
11  1.122390  0.482136  0.660184  ... -1.110345 -0.505351 -1.408322
12 -0.998667 -0.732664 -0.982401  ...  0.688933  0.000264  1.106021
13 -0.861824 -1.664518 -0.913461  ... -0.329690 -1.876064 -1.803692
14 -0.656561 -0.952474 -0.877967  ... -1.240937 -0.448359 -1.464918
15  0.506600  0.773267  1.058717  ...  1.913603 -1.081109  1.634572
16  0.438178  0.154760  0.492151  ...  0.337784 -1.554575 -1.146662
17 -0.314455  0.022640 -0.462688  ... -0.721469  1.220462 -0.100033
18  0.301336  0.278695  0.557784  ...  1.835247 -0.766926  2.185389
19 -0.724982 -0.957151 -0.653462  ...  1.350603 -1.091338  0.615637

[20 rows x 12 columns]

In [ ]:
#third point - Pipeline creation including the simple imputer and standard scaler
from sklearn.pipeline import Pipeline
pipelineQ2 = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean', missing_values=-200)),
    ('scaler', StandardScaler())
])

### Question 2.b: Use the Pipeline to fit the training data and transform the validation data (2 marks)

In the previous question, you created a `Pipeline` for applying a `SimpleImputer` and a `StandardScaler`. Use the Pipeline to fit the training data (**1 mark**) and transform the validation data (**1 mark**).

#### Question 2.b Answer

In [ ]:
#display the validation set before applying the preprocessing pipeline
validation_setQ2.iloc[:20]

      CO(GT)  PT08.S1(CO)   C6H6(GT)  ...          T         RH        AH
8286     2.7      1156.00   8.239851  ...   4.125000  54.975000  0.455840
765      0.9       854.00   3.096375  ...  22.050000  18.975000  0.496923
2350     2.3      1100.50  12.199629  ...  33.000000  26.025000  1.287704
8452     2.7      1206.75  11.249663  ...   6.200000  62.425001  0.595807
5555     0.8       905.00   5.247306  ...  15.200000  77.974998  1.338227
6009     0.6       736.75   0.925975  ...  11.225000  41.325000  0.549830
1366     3.6      1271.50  14.602582  ...  12.700000  74.225002  1.086300
0        2.6      1360.00  11.881723  ...  13.600000  48.875001  0.757754
3623     0.9       907.75   4.068437  ...  34.999999  31.050000  1.717252
2750     2.3      1172.75  14.422632  ...  23.225000  43.925000  1.234377
4890     1.7      1158.25  10.818084  ...  24.600000  42.799999  1.305314
2569     3.4      1082.75  17.916912  ...  29.925000  19.750000  0.821133
2519     3.6      1210.25  20.708088  ...  32.525001  25.250000  1.216498
1485     1.9      1131.00  12.243257  ...  26.525000  27.175000  0.928202
6183     5.7      1578.25  27.616628  ...   9.925000  77.625000  0.948823
2964     1.4      1003.75   9.397165  ...  18.474999  57.350000  1.207623
2254     1.4      1082.25   8.985058  ...  36.400000  20.950000  1.251490
7750     1.5       904.50   4.673235  ...   6.950000  33.549999  0.336745
1141     4.1      1518.25  23.419668  ...  15.900000  48.525000  0.870351
4018     0.6       884.00   3.563986  ...  22.925000  56.125000  1.549157

[20 rows x 12 columns]

In [ ]:
#ANSWER to 2.b
training_setQ2_pipe = data_training_unproc.copy()
pipelineQ2.fit(training_setQ2_pipe)
validation_setQ2 = pipelineQ2.transform(validation_setQ2)

In [ ]:
#validation set display after preprocessing
pd.DataFrame(validation_setQ2[:20])

          0         1         2   ...        9         10        11
0   0.369757  0.210882 -0.282671  ... -1.580478  0.339289 -1.371088
1  -0.861824 -1.201514 -0.986286  ...  0.500299 -1.765004 -1.265488
2   0.096072 -0.048681  0.259016  ...  1.771402 -1.352913  0.767157
3   0.369757  0.448229  0.129064  ... -1.339607  0.774761 -1.011313
4  -0.930245 -0.962997 -0.692044  ... -0.294866  1.683698  0.897021
5  -1.067088 -1.749869 -1.283191  ... -0.756293 -0.458589 -1.129494
6   0.985548  0.751053  0.587735  ... -0.585072  1.464501  0.249461
7   0.301336  1.164950  0.215528  ... -0.480597 -0.017272 -0.595041
8  -0.861824 -0.950135 -0.853310  ...  2.003566 -1.059189  1.871278
9   0.096072  0.289218  0.563118  ...  0.636696 -0.306612  0.630083
10 -0.314455  0.221404  0.070025  ...  0.796309 -0.372371  0.812423
11  0.848705 -0.131694  1.041127  ...  1.414448 -1.719703 -0.432130
12  0.985548  0.464598  1.422953  ...  1.716263 -1.398214  0.584126
13 -0.177612  0.093961  0.264985  ...  1.019768 -1.285693 -0.156918
14  2.422393  2.185663  2.368024  ... -0.907200  1.663240 -0.103912
15 -0.519718 -0.501162 -0.124354  ...  0.085304  0.478114  0.561314
16 -0.519718 -0.134033 -0.180729  ...  2.166082 -1.649560  0.674072
17 -0.451297 -0.965335 -0.770575  ... -1.252546 -0.913057 -1.677213
18  1.327654  1.905054  1.793890  ... -0.213608 -0.037730 -0.305620
19 -1.067088 -1.061210 -0.922318  ...  0.601871  0.406510  1.439201

[20 rows x 12 columns]

## 2.2 Random forest to predict air quality 

We now use random forests to predict air quality. Remember that the tree ensemble in random forests is built by training individual regression trees on different subsets of the training data and using a subset of the available features. For regression, the prediction is the average of the individual predictions of each tree. Some of the parameters required in the Random Forest implementation in Scikit-learn include:

Some of the additional parameters required in the Random Forest implementation in Scikit-learn include

> **n_estimators** the total number of trees to train<p>
**max_features** number of features to use as candidates for splitting at each tree node. <p>
    **boostrap**: Whether bootstrap samples are used when building trees. If False, the whole dataset is used to build each tree.<p>
   **max_samples**: If bootstrap is True, the number of samples to draw from X to train each base estimator.

### Question 2.c: train a random forest (4 marks)

In this question, you will train a random forest for predicting over the validation data. Use cross-validation over the validation data to select the best set of paramaters for the random forest regressor. Parameters to include in your exploration are **n_estimators**, **max_features** and **max_samples**. Use `np.linspace` or `np.logspace` to define ranges of values to explore for each parameter and create a grid to be assessed over the validation data. Make sure you use the same validation data that was given to you.

* Use `PredefinedSplit` to tell the cross validator which instances to use for training and which ones for validation (**1 mark**).

* Create a grid of values to explore that include a range of at least five values for each parameter **n_estimators**, **max_features** and **max_samples** (**1 mark**). 

* Train a random forest for regression model that uses the grid of parameters you created before. Use `GridSearchCV` to find the best set of parameters by performing cross-validation over the predefined split. (**1 mark**).

* Print the best values in your grid for **n_estimators**, **max_features** and **max_samples** (**1 mark**).

#### Question 2.c Answer

In [ ]:
#joining training and validation sets
new_training_setQ2 = np.vstack((training_setQ2, validation_setQ2))
new_training_setQ2.shape

(6523, 12)

In [ ]:
#first point - predefinedSplit - Use PredefinedSplit to tell the cross validator which instances to use for training and which ones for validation
from sklearn.model_selection import PredefinedSplit
test_fold = np.zeros((np.shape(new_training_setQ2)[0], 1))
test_fold[0:np.shape(data_training_unproc)[0]] = 1
ps = PredefinedSplit(test_fold)
print(ps)

PredefinedSplit(test_fold=array([1, 1, ..., 0, 0]))

In [ ]:
# second point - Create a grid of values to explore that include a range of at least five values for each parameter n_estimators, max_features and max_samples

n_estimators_grid = np.linspace(10,400, 5, dtype=int)
max_features_grid = np.linspace(2,11,5, dtype=int)
max_samples_grid = np.linspace(5, 300, 5, dtype=int)

#creating random forest parameters dataframe
forest_parameters = [n_estimators_grid, max_features_grid, max_samples_grid]
forest_parameters = np.array(forest_parameters).T

#displaying the forest parameters values
grid_forest_parameters = pd.DataFrame(forest_parameters, columns=["n_estimators_grid", "max_features_grid", "max_samples_grid"])
grid_forest_parameters

   n_estimators_grid  max_features_grid  max_samples_grid
0                 10                  2                 5
1                107                  4                78
2                205                  6               152
3                302                  8               226
4                400                 11               300

In [ ]:
yNewTrainSetQ2 = new_training_setQ2[:,0]
xNewTrainSetQ2 = new_training_setQ2[:,1:]

In [ ]:
pd.DataFrame(xNewTrainSetQ2)

            0         1         2   ...        8         9         10
0    -0.544423 -0.602387 -0.539725  ... -1.281566  0.904818 -0.902549
1    -1.049518 -1.010901 -1.155658  ...  0.860155 -0.069879  1.342413
2     0.691423  0.921792  1.010663  ... -0.971046 -0.730393 -1.431382
3    -0.226400 -0.333463 -0.207773  ...  1.098123 -0.470279  1.212873
4    -0.724480 -0.671808 -0.632786  ...  1.423154 -2.226779 -1.354134
...        ...       ...       ...  ...       ...       ...       ...
6518 -0.574822 -0.584802 -0.516699  ...  1.823639 -1.247698  1.086307
6519 -0.262645 -0.239443 -0.100320  ...  1.434763 -0.889676  1.121868
6520  3.571166  3.206619  2.642599  ... -0.042386 -0.083031 -0.128632
6521 -0.263814 -0.003771  0.153920  ...  1.434763 -1.196552  0.555168
6522 -1.040164 -0.178983 -0.033162  ...  1.460881 -1.760620 -0.459910

[6523 rows x 11 columns]

In [ ]:
# third point - Train a random forest for regression model that uses the grid of parameters you created before. Use GridSearchCV to find the best set of parameters by performing cross-validation over the predefined split. 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

forest_parameters_grid = dict(n_estimators = n_estimators_grid, max_samples = max_samples_grid, max_features = max_features_grid)
grid_regression_Question3 = GridSearchCV(RandomForestRegressor(), param_grid=forest_parameters_grid, cv=ps, scoring='neg_mean_squared_error')
grid_regression_Question3.fit(xNewTrainSetQ2, yNewTrainSetQ2)

GridSearchCV(cv=PredefinedSplit(test_fold=array([1, 1, ..., 0, 0])),
             estimator=RandomForestRegressor(),
             param_grid={'max_features': array([ 2,  4,  6,  8, 11]),
                         'max_samples': array([  5,  78, 152, 226, 300]),
                         'n_estimators': array([ 10, 107, 205, 302, 400])},
             scoring='neg_mean_squared_error')

In [ ]:
# fourth point - Print the best values in your grid for n_estimators, max_features and max_samples

print('Best number of estimators: ', grid_regression_Question3.best_params_["n_estimators"])
print('Best number of samples: ', grid_regression_Question3.best_params_["max_samples"])
print('Best number of features: ', grid_regression_Question3.best_params_["max_features"])

Best number of estimators:  302
Best number of samples:  300
Best number of features:  11

### Question 2.d: train a new model over the whole training data and report the prediction over the test set (4 marks)


Now that we have identified the best paramaters of the regression model, we use these parameters to train a new model over the whole training data (`data_training` plus `data_val`). We apply this model to the test set and report the performance.

* Create a new preprocessing pipeline for taking care of the missing values and standardisation over the whole training data (**1 mark**).

* Apply the created preprocessing pipeline to the test data (**1 mark**).

* Fit a random forest regression model to the training data using the best parameters found in Question 2.c (**1 mark**).

* Compute the RMSE over the test data and report the result (**1 mark**).

#### Question 2.d Answer

In [ ]:
# first point - Create a new preprocessing pipeline for taking care of the missing values and standardisation over the whole training data
##new initialized sets for the Question 2.d
training_setQ2 = data_training_unproc.copy()
validation_setQ2 = data_val_unproc.copy()
test_setQ2 = data_test_unproc.copy()

whole_training_setQ2 = np.vstack((training_setQ2, validation_setQ2))

#the pipelineQ2 will be reused for this task
pipelineQ2.fit(whole_training_setQ2)
whole_training_setQ2 = pipelineQ2.transform(whole_training_setQ2)

In [ ]:
#second point - pipeline application on the test set
test_setQ2 = pipelineQ2.transform(test_setQ2)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:439: UserWarning: X has feature names, but SimpleImputer was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
pd.DataFrame(test_setQ2)

            0         1         2   ...        9         10        11
0    -0.382790 -1.190876 -0.807220  ... -0.612152 -1.455880 -1.645976
1     0.373025  1.265173  0.216417  ... -1.156606  0.519653 -0.960859
2     0.510446  0.474519  0.833690  ... -0.214614  1.206289  0.677807
3    -1.069895 -1.251606 -0.995540  ...  0.499802  0.043954  0.822370
4     1.884657  1.986922  1.363894  ...  0.053292 -0.472478 -0.356630
...        ...       ...       ...  ...       ...       ...       ...
1146 -0.451501 -0.228544 -0.380406  ...  0.594865  0.967712  2.117384
1147  0.304315 -0.488981 -0.004890  ... -0.378814 -0.209171 -0.621969
1148 -0.245369 -0.693360 -0.389338  ... -0.983763 -0.667413 -1.407981
1149  0.304315  1.589843  1.344095  ... -0.430667  0.950255  0.138802
1150 -0.451501  0.096126 -0.645330  ... -0.692812  0.256345 -0.645499

[1151 rows x 12 columns]

In [ ]:
ywhole_training_setQ2 = whole_training_setQ2[:,0]
xwhole_training_setQ2 = whole_training_setQ2[:,1:]

In [ ]:
ytest_setQ2 = test_setQ2[:,0]
xtest_setQ2 = test_setQ2[:,1:]

In [ ]:
#third point - Fit a random forest regression model to the training data using the best parameters found in Question 2.c

## Training a Random Forest using the best value for the  n_estimators and max_samples
RandFor_Q2 = RandomForestRegressor(n_estimators=grid_regression_Question3.best_params_["n_estimators"],max_samples=grid_regression_Question3.best_params_["max_samples"], max_features=grid_regression_Question3.best_params_["max_features"])
RandFor_Q2.fit(xwhole_training_setQ2, ywhole_training_setQ2)
RandFor_Q2_pred = RandFor_Q2.predict(xtest_setQ2)

In [ ]:
##fourth point - Compute the RMSE over the test data and report the result 
## import of the sklearn mean_squared_error function
from sklearn.metrics import mean_squared_error

RMSE_RandForQ2 = np.sqrt(mean_squared_error(ytest_setQ2, RandFor_Q2_pred))
print('The RMSE on the test data is :',RMSE_RandForQ2)

The RMSE on the test data is : 0.3097051922475832